body {
    width: 1280px;
    margin: 0 auto;
    /* Тест комментborder: 1px solid black; */
    box-sizing: border-box;
    font-family: Arial;
}


/*1-ый блок.*/

.main-header {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    background-color: #445161;
    color: #fff;
}


/*1-ый блок. Запрет на расположение в освоб. пространсве последующих блочных элементов */

.main-header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}


/*1-ый блок. Дочерний блок с названием и списком */

.main-header-wrp {
    width: 458px;
    float: left;
    margin: 0;
    /*   border: 1px solid white;
   */
}


/* 1-ый блок.Дочерний блок. Заголовок */

.main-header-title {
    /* Не понятно по пикселям. Визуально выровняла список msrgin-ом. Например в Н1 и список система добавляет по 10 px автоматически? Пробовала убрать вручную, не получалось.. */
    margin: -10px 0 30px 0;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}


/*1-ый блок. Дочерний блок. Список */

.main-header-list {
    padding: 0 0 0 35px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    margin: 0;
}


/*1-ый блок. Пункты списка */

.main-header-list-item {
    list-style-type: none;
    position: relative;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}


/*1-ый блок. Псевдоэлемент перед пунктом списка (галочка) */

.main-header-list-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    background-image: url(../img/346.png);
    -webkit-background-size: cover;
    background-size: cover;
    /*   border: 1px solid #fff;*/
    position: absolute;
    top: 8px;
    left: -35px;
}


/*1-ый блок. Дочерний блок. Картика/видео */

.main-header-img {
    display: block;
    width: 469px;
    min-height: 214px;
    float: right;
    background-color: #fff;
}


/*2-ой блок.*/

.about-product {
    padding: 50px;
    /* border: 1px solid black; */
}


/*2-ой блок. Запрет на расположение в освоб. пространсве последующих блочных элементов */

.about-product:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}


/*2-ой блок. Дочерний блок с H2 и p */

.about-product>div {
    width: 653px;
    float: left;
    margin: 0;
}


/*2-ой блок. Заголовок дочернего блока */

.about-product h2 {
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}


/*2-ой блок. Параграфы дочернего блока */

.about-product p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    margin: 20px 0 0 0;
}


/*2-ой блок. Картинка товара в разделе about-product*/

.about-product-img {
    display: block;
    width: 430px;
    min-height: 245px;
    float: right;
    outline: none;
}


/*3-ий блок Dignity*/

.dignity {
    background-color: #f5f5f5;
    padding: 50px 73px 51px 50px;
    /* border: 1px solid black; */
    font-family: Arial;
    box-sizing: border-box;
}


/*3-ий блок. Заголовок 3-го блока */

.dignity H2 {
    margin: 0 0 29px 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center
}


/*3-ий блок. Дочерний блок с перечнем преимуществ */

.dignity-div {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


/*3-ий блок. Details назначаем flex, позиционирование и ширину*/

.dignity-details {
    display: flex;
    width: 50%;
    position: relative;
}


/*3-ий блок. Стилизация summary */

.dignity-summary {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

details.dignity-details:nth-child(2n+1) > summary {
    margin: 0 0 36px 0;
    padding: 0 12px 0 40px;
}

details.dignity-details:nth-child(2n) > summary {
    margin: 0 0 36px 0;
    padding: 0 0 0 40px;
}

details.dignity-details:nth-child(5) > summary {
    margin: 0;
}

details.dignity-details:nth-child(6) > summary {
    margin: 0;
}


/*3-ий блок. Убираем стрелку */

.dignity-summary::-webkit-details-marker {
    display: none;
}


/*3-ий блок. Псевдоэлемент (крестик) перед summary */

.dignity-summary:before {
    content: "";
    width: 32px;
    height: 32px;
    background-color: #445161;
    background-image: url(../img/30.png);
    -webkit-background-size: cover;
    background-size: 20px 20px;
    /* border: 6px solid #445161; */
    position: absolute;
    top: 6px;
    left: 0px;
    background-repeat: no-repeat;
    background-position: center;
}


/* 4- ый блок. Скриншоты */

.screenshots {
    padding: 51px 66px 49px 50px;
    /* border: 1px solid black; */
    box-sizing: border-box;
}


/* 4- ый блок. Заголовок */

.screenshots h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center;
    margin: 0 0 35px 0;
}


/* 4- ый блок. Дочерний блок под flex */

.screenshots-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 1164px;
}


/* 4- ый блок. Доп. конт. изображение */

.screenshots-figure {
    display: flex;
    padding: 0;
    width: 50%;
    min-height: 151px;
    margin: 0;
}

figure:nth-child(1) {
    margin: 0 0 30px 0;
}

figure:nth-child(2) {
    margin: 0 0 30px 0;
}


/* 4- ый блок. Изображение */

.screenshots-figure>img {
    width: 200px;
    height: 150px;
    background-color: #445161;
    float: left;
    margin: 0 15px 0 0;
}


/* 4- ый блок. Описание доп. конт. изображения */

.screenshots-figcaption {
    float: right;
    width: 359px;
    /*    padding-left: 15px;*/
    padding: 0;
}


/* 4- ый блок. Заголовок описания доп. конт. изображения */

.screenshots-h3 {
    margin: -6px 0 12px 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
    box-sizing: border-box;
}


/* 4- ый блок. Параграф описания доп. конт. изображения */

.screenshots-p {
    margin: 0;
    width: 365px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    -webkit-hyphens: auto;
    text-align: left;
}


/* 5- ый блок. Reviews */

.reviews {
    padding: 50px 50px 51px 50px;
    /* border: 1px solid black; */
    box-sizing: border-box;
    background-color: #f5f5f5;
}


/* 5- ый блок. Заголовок */

.reviews-h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center;
    margin: 0 0 35px 0;
}


/* 5- ый блок. Дочерний блок под flex */

.reviews-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    box-sizing: border-box;
}


/* 5- ый блок. Доп. конт. изображение */

.reviews-figure {
    display: flex;
    width: 574px;
    margin: 0;
}


/*  5- ый блок. Описание доп. конт. изображения*/

.reviews-figurecaption {
    float: right;
    display: inline-block;
}


/* 5- ый блок.Доп. конт. изображение */

.reviews-img {
    display: block;
    width: 75px;
    height: 75px;
    background-image: url(../img/avatar.png);
    background-position: center;
    border-radius: 50%;
    float: left;
    background-size: 75px 75px;
    background-repeat: no-repeat;
    background-position: center;
}


/*  5- ый блок. Параграф в описании доп. конт. изображении*/

.reviews-p {
    width: 436px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #333333;
    -webkit-hyphens: auto;
    margin: 0 0 24px 102px;
    background-color: #ebebeb;
    padding: 16px 20px 10px 27px;
    /* margin-bottom: 24px; */
    border-radius: 7px;
    position: relative;
}


/* 5- ый блок. Псевдоэлемент перед параграфом (треугольник) */

.reviews-p:before {
    content: "";
    display: block;
    width: 12px;
    height: 23px;
    background-image: url(../img/arrow.png);
    -webkit-background-size: cover;
    background-size: cover;
    /*   border: 1px solid #fff;*/
    position: absolute;
    top: 25px;
    left: -12px;
}

section.reviews > div > figure:nth-child(3) > figcaption > p {
    margin: 0 0 0 102px;
}

section.reviews > div > figure:nth-child(4) > figcaption > p {
    margin: 0 0 0 102px;
}


/* 5- ый блок. Стилизация "автора комментария" */

.reviews-a {
    display: block;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
    text-decoration: none;
    padding-top: 7px;
}


/* 6-ой блок. Buy */

.buy {
    padding: 50px 145px 49px 145px;
    /* border: 1px solid black; */
    box-sizing: border-box;
}


/* 6-ой блок. Заголовок */

.buy-h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center;
    margin: 0 0 29px 0;
}


/* 6-ой блок. Дочерний блок */

.buy-div {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
    justify-content: space-between;
}


/* 6-ой блок. 3 секции в дочернем блоке */

.buy-child-section {
    display: flex;
}


/* 6-ой блок. Дочерний блок в секции */

.div-child-section {
    border: 2.0px solid #445162;
    border-radius: 6px;
    background-color: #445162;
    align-self: flex-end;
    width: 300px;
    padding-bottom: 20px;
}


/* 6-ой блок. Заголовок */

.child-section-h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    background-color: #445162;
    padding: 16px 0 16px 0;
    margin: 0;
    text-align: center;
}


/* 6-ой блок. Параграф (стоимость $) */

.child-section-p {
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    padding: 18px 0px 18px 0px;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    background-color: #ffffff;
}


/* 6-ой блок. Позиционирование списка */

.child-section-ol {
    margin: 19px 0 19px 20px;
    padding: 0;
}


/* 6-ой блок. Стилизация пункта списка */

.child-section-li {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    list-style-position: inside;
}


/*6-ой блок. Область купить (buy) */

.child-section-a {
    display: block;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    border-radius: 6px;
    margin: 0 20px 0px 20px;
    text-align: center;
    text-decoration: none;
    padding: 13px 114px 14px 114px;
    text-transform: uppercase;
}


/*6-ой блок.Стилизация при наведении*/

.child-section-a:hover {
    font-size: 19px;
    line-height: 18px;
    font-weight: 700;
    border-radius: 6px;
    margin: 0 20px 0px 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: .5s;
}


/*Стилизация при нажатии*/

.child-section-a:active {
    font-size: 18px;
    background-color: #ffffff;
    color: #445161;
    background-image: none;
}


/*7-ой блок.*/

.main-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1280px;
    padding: 50px;
    background-color: #445161;
    box-sizing: border-box;
}


/*7-ой блок. Заголовок*/

.main-footer_title {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    font-family: Arial;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}


/*7-ой блок. Форма*/

.main-footer_form {
    ` clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    margin: 0 46px 0 0;
}


/*7-ой блок. Стилизация элементов формы*/

.main-footer_form input[type="text"],
.main-footer_form input[type="email"],
.main-footer_form textarea {
    width: 100%;
    min-height: 40px;
    margin: 0 0 20px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 0px;
    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
    text-transform: capitalize;
    resize: none;
}


/*7-ой блок. Стилизация textarea*/

.main-footer_form textarea {
    width: 100%;
    min-height: 170px;
    border-radius: 5px;
    background-color: #ffffff;
    box-sizing: border-box;
}


/*7-ой блок. Стилизация placeholder элементов формы*/

input[placeholder],
textarea[placeholder] {
    text-overflow: ellipsis;
    font-family: Arial;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}


/*7-ой блок. Стилизация кнопки*/

.main-footer_form input[type="submit"] {
    border-radius: 5px;
    background-color: #ffffff;
    width: 140px;
    height: 40px;
    text-transform: uppercase;
    font-family: Arial;
    color: #445162;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    outline: none;
    border: none;
}


/*7-ой блок. Стилизация элементов при наведении*/

.main-footer_form input[type="text"]:hover,
.main-footer_form input[type="email"]:hover,
.main-footer_form textarea:hover {
    background-color: #D6F4EF;
    color: #445162;
}


/*7-ой блок. Стилизация при наведении на кнопку формы*/

.main-footer_form input[type="submit"]:hover {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    border-radius: 6px;
    margin: 0 20px 0px 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: .5s;
}


/*7-ой блок. Стилизация при нажатии на кнопку формы*/

.main-footer_form input[type="submit"]:active {
    font-size: 16px;
    background-color: #ffffff;
    color: #445161;
    background-image: none;
}


/*7-ой блок. Блок с контактами*/

.main-footer_contacts {
    min-width: 194px;
    float: right;
    /*    border: 1px solid #fff;*/
}


/*7-ой блок. Убираем вн. отступы блока с контактами*/

.main-footer_contacts>ul {
    margin: 0 0 0 37px;
    padding: 0;
}


/*7-ой блок. Стилизация пунктов блока контактов*/

.footer-li {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    list-style-type: none;
    position: relative;
    padding: 0 0 22px 0;
    width: 165px;
}


/*7-ой блок. Псевдоэлемент скайп*/

#skype:before {
    content: "";
    display: block;
    width: 24px;
    height: 26px;
    background-image: url(../img/319.png);
    -webkit-background-size: cover;
    background-size: cover;
    /*    border: 1px solid #fff;*/
    position: absolute;
    left: -40px;
}


/*7-ой блок. Псевдоэлемент icq*/

#icq:before {
    content: "";
    display: block;
    width: 26px;
    height: 26px;
    background-image: url(../img/324.png);
    -webkit-background-size: cover;
    background-size: cover;
    /*    border: 1px solid #fff;*/
    position: absolute;
    left: -40px;
}


/*7-ой блок. Псевдоэлемент email*/

#email:before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background-image: url(../img/332.png);
    -webkit-background-size: cover;
    background-size: cover;
    /*    border: 1px solid #fff;*/
    position: absolute;
    left: -40px;
}


/*7-ой блок. Псевдоэлемент tel*/

#tel:before {
    content: "";
    display: block;
    width: 24px;
    height: 23px;
    background-image: url(../img/337.png);
    -webkit-background-size: cover;
    background-size: cover;
    /*    border: 1px solid #fff;*/
    position: absolute;
    left: -40px;
}


/*7-ой блок.*/

.div-social {
    min-width: 240px;
    min-height: 42px;
    display: flex;
    justify-content: space-between;
    position: relative;
    } 


/*7-ой блок.*/

.div-social-a {
    display: block;
    min-width: 42px;
    min-height: 42px;
    font-family: Socialico;
    font-size: 60px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-decoration: none;
}


/*8-ой блок. Нижняя часть подвала*/

.footer-p {
    display: block;
    width: 100%;
    clear: both;
    font-size: 11px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    background-color: #f5f5f5;
    margin: 0;
    text-align: center;
    min-height: 26px;
}